/***** Høgskulen i Volda - Homepage *****/

/*
COLORS

Light Grey = #f6f6f6
Green = #02c0b4
Footer Dark = #212121

*/

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  color: inherit;
}

/* BASE STYLES */

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a:not(.news-item__link) {
  text-decoration: none;
}



/* HEADER */

.main-bar {
  background-color: #f6f6f6;
  padding: 10px;
}


header ul li {
  display: inline;
}

.logo {
  padding: 20px;
}



.utilities {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}

.utilities__list {
  display: flex;
  gap: 1.6rem;
}

.utilities a {
  color: #02c0b4;
}

.utilities a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

@media(max-width: 50rem) {
  .menu {
    flex-direction: column;
  }
}

.menu ul li a {
  color: #000;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.menu .search {
  margin-bottom: -8px;
}

.menu__list {
  display: flex;
  gap: 2rem;
}

@media(max-width: 50rem) {
  .menu__list {
    flex-direction: column;
  }
}

/***** MAIN *****/


.hero {
  background: url('img/hivolda2.jpg') no-repeat;
  background-size: cover;
  min-height: 600px;
}

.flex-hero {
  display: flex;
  height: 440px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.welcome {
  color: #fff;
  position: absolute;
  top: 60px;
}

.box {
  background-color: #02c0b4;
  font-size: 26px;
  font-weight: bold;
  margin: 40px;
  padding: 20px;
  width: 200px;
}

.box a {
  color: #000;
}

.box a:hover {
  text-decoration: underline;
}

/*Studies */

.studies {
  padding: 40px;
}

.study {
  display: flex;
  margin: 16px 0;
  gap: 5rem;
  align-items: center;
}

@media(max-width: 50rem) {
  .study {
    flex-direction: column;
  }
}


.study > * {
  flex-basis: 100%;
}

.study input {
  background-color: #f6f6f6;
  border: 0;
  font-size: 1rem;
  padding: 20px;
  width: 100%;
}



.study a img {
  background-color: #02c0b4;
  padding: 12px;
}

.section-one,
.section-two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.all-studies {
  color: #02c0b4;
  display: block;
  text-decoration: underline;
}

.student-tools {
  color: #02c0b4;
  display: block;
  text-decoration: underline;
}

.canvas {
  background-color: #efefef;
  border: solid 2px #02c0b4;
  color: #000;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.canvas:hover {
  background-color: #02c0b4;
  transition: .2s;
}

/*Aktuelt */

.news {
  background-color: #f6f6f6;
  padding: 20px;
}

.flex-news {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

@media(max-width: 50rem) {
  .flex-news {
    flex-direction: column;
  }
}

.flex-news > * {
  flex-basis: 100%;
}

.flex-news img {
  cursor: pointer;
}

.flex-news img:is(:hover,:focus) {
  opacity: .9;
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-item__link:hover {
  opacity: .8;
}


.news-item a {
  color: #02c0b4;
  font-weight: lighter;
}


.news-item :not(p) {
  color: #02c0b4;
}

.all-news {
  color: red;
}



/***** FOOTER *****/

footer {
  background-color: #212121;
}

.flex-resources a {
  text-decoration: underline;
}

footer a:hover {
  color: #fff;
  transition: .1s;
}


.flex-resources {
  color: #02c0b4;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

@media(max-width: 50rem) {
  .flex-resources {
    flex-direction: column;
  }
}

.flex-resources h3 {
  font-size: 1.2rem;
}


.flex-resources ul {
  list-style-type: none;
  line-height: 40px;
  padding: 0;
}

.flex-resources  a {
  color: #02c0b4;
  font-weight: bold;
}

.flex-resources .icon {
  display: inline;
  margin-right: 20px;
}

.flex-resources .icon-text {
  font-weight: lighter;
}

